.profileAndButton {
  width: 100%;
}

.imageAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameAndSubtitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  width: 8rem;
  height: 8rem;

  margin-bottom: 1rem;

  border-radius: 50%;

  background-color: #fff; /* Placeholder */
}

.name {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 1rem;

  font-style: italic;
  color: var(--accent-color);
}

.button {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.button:hover * {
  color: var(--primary-color);
  transition: color 0.1s;
}

@media (min-width: 641px) {
  .list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }
}

@media (min-width: 1008px) {
  .profileAndButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .imageAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .image {
    margin-bottom: 0;
  }

  .nameAndSubtitle {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    margin-bottom: 0;
  }

  .button {
    width: auto;
  }

  .list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
  }
}
