.page {
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 25vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 2rem;
  padding-inline: 1rem;

  background-color: var(--translucent-black);
}

.icon {
  font-size: 1.5rem;
  vertical-align: -0.4rem; 
}

.section {
  margin-bottom: 2rem;
}

.heading {
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
}

.list > li {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--translucent-black);
}