.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
}

.link {
  flex-grow: 1;

  padding-block: 1rem;

  background-color: var(--translucent-black);

  text-align: center;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  background-color: #fff;
}

.link:hover * {
  color: #000;
}
